@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@100;200;300;400;500;600;700;800 & display=swap");
.font_size, .container_footer, .container-formulario, .container_menuvinos {
  font-size: 20px; }

.titulo_1, .titulo1 {
  -webkit-animation: roll-in-right .6s ease-out both;
  animation: roll-in-right .6s ease-out both; }

.titulo_2, .titulo2 {
  -webkit-animation: roll-in-left .6s ease-out both;
  animation: roll-in-left .6s ease-out both; }

.titulo_3, .titulo3 {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.container_footer {
  background-color: black;
  width: 100%;
  position: relative;
  text-decoration: underline double;
  list-style-type: none;
  color: white;
  padding: 1em,100%,1em,2em; }
  .container_footer a {
    text-decoration: none;
    font-size: 20px;
    color: white; }

header {
  background-color: black;
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%; }
  header .img_logo {
    width: 120px; }
  header .navbar-nav {
    gap: 20px; }
    header .navbar-nav .nav-item {
      color: white;
      -webkit-animation: rotate-in-ver 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: rotate-in-ver 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
      header .navbar-nav .nav-item a {
        background-color: #9f0942;
        border: 5px solid #9f0942;
        text-decoration: none;
        font-size: 20px;
        color: white;
        color: white;
        font-weight: bold; }
        header .navbar-nav .nav-item a:hover {
          background-color: white;
          color: black;
          color: black; }

@-webkit-keyframes rotate-in-ver {
  0% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1; } }

@keyframes rotate-in-ver {
  0% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1; } }

.imagen_fondo {
  background-image: url(../GaleriaVino/logo-vino1.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: auto;
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  /* Media query mobile */ }
  @media screen and (max-width: 576px) {
    .imagen_fondo .box {
      background-color: aquamarine;
      grid-auto-columns: repeat(2, 1fr); } }
  .imagen_fondo .menu-footer {
    display: flex; }

.container-promociones {
  width: 60%; }

.titulo2 {
  margin-top: 20px; }

.card-body {
  text-align: center;
  background-color: black;
  padding-block: 20px;
  color: white; }
  .card-body:hover {
    background-color: white;
    color: black;
    background-color: #9f0942; }

.container-formulario {
  margin: 150px;
  margin-inline: 500px;
  padding-inline: 1%; }
  .container-formulario .boton {
    background-color: white;
    color: black;
    padding-bottom: 10px;
    margin-bottom: 30px;
    gap: 10px; }
    .container-formulario .boton:hover {
      background-color: white;
      color: black;
      background-color: #9f0942; }

.container-maps {
  width: 600px;
  height: 40px;
  align-items: center;
  margin: 5px;
  padding-bottom: 40px; }

.container-video {
  width: 900px;
  height: 400px;
  align-items: center;
  margin: 60px;
  padding: 50px; }

.container_menuvinos {
  display: flex;
  margin-left: 30px;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 1; }

.wpp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 5%;
  z-index: 1; }

@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1; } }

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }
  *::selection {
    background-color: white;
    color: black; }
