@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@100;200;300;400;500;600;700;800 & display=swap");
.font_size, .container_footer, .container-formulario, .container-maps, .container_menuvinos {
  font-size: 20px; }

.titulo1 {
  -webkit-animation: roll-in-right .6s ease-out both;
  animation: roll-in-right .6s ease-out both; }

.titulo2 {
  -webkit-animation: roll-in-left .6s ease-out both;
  animation: roll-in-left .6s ease-out both; }

.titulo3 {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1; } }

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1; } }

.container_footer {
  background-color: black;
  width: 100%;
  position: relative;
  text-decoration: underline double;
  list-style-type: none;
  color: white;
  padding: 1em,100%,1em,2em; }
  .container_footer a {
    text-decoration: none;
    font-size: 20px;
    color: white; }

header {
  background-color: black;
  position: sticky; }
  header .img_logo {
    width: 120px; }
  header .navbar-nav {
    gap: 20px; }
    header .navbar-nav .nav-item {
      color: white;
      -webkit-animation: rotate-in-ver 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: rotate-in-ver 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
      header .navbar-nav .nav-item a {
        background-color: #9f0942;
        border: 5px solid #9f0942;
        text-decoration: none;
        font-size: 20px;
        color: white;
        color: white;
        font-weight: bold; }
        header .navbar-nav .nav-item a:hover {
          background-color: white;
          color: black;
          color: black; }

@-webkit-keyframes rotate-in-ver {
  0% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1; } }

@keyframes rotate-in-ver {
  0% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1; } }

.imagen_fondo {
  background-image: url(../GaleriaVino/logo-vino1.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: auto;
  text-align: center;
  padding-top: 30px;
  font-weight: bold; }
  .imagen_fondo .container1 {
    margin-top: 10px;
    margin: 20px; }
  .imagen_fondo .container_index {
    margin-top: 90px;
    align-items: center center;
    margin-block: 10px; }
  .imagen_fondo .titulo1 {
    -webkit-animation: roll-in-right .6s ease-out both;
    animation: roll-in-right .6s ease-out both; }

.card-body {
  text-align: center;
  background-color: black;
  padding-block: 20px;
  color: white; }
  .card-body:hover {
    background-color: white;
    color: black;
    background-color: #9f0942; }

.container-formulario {
  margin-top: 20px 5px;
  margin-inline: 500px; }

.container-maps {
  margin-inline: 100px;
  height: 400px; }

.altura {
  width: 300px;
  height: 300px;
  align-items: center; }

.container_menuvinos {
  display: flex;
  margin-left: 30px;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 1; }

.wpp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 5%;
  z-index: 1; }

/* ----------------------------------------------
 * Generated by Animista on 2022-9-28 0:27:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/* ----------------------------------------------
 * Generated by Animista on 2022-9-28 0:28:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }
  *::selection {
    background-color: white;
    color: black; }

.catalogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; }

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  background-color: aqua;
  gap: 20px;
  border-radius: 5px; }

.boton {
  background-color: aqua;
  border: 1px solid chartreuse;
  padding: 10px;
  cursor: pointer;
  color: blueviolet; }
