
        
.container_footer{ 
    background-color: $terciarycolor;
    width: 100%;
    position:relative;
    text-decoration: underline double;
    @extend .font_size;
    list-style-type: none;
    color: $maincolor;
    padding: 1em,100%,1em,2em;
    
    
        a{
            @include modelo_tipografia
        }
    }
