header {
  background-color: $terciarycolor;
  position: sticky;

  .img_logo {
    width: 120px;
  }

  .navbar-nav {
    gap: 20px;

    .nav-item {
      -webkit-animation: rotate-in-ver 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      animation: rotate-in-ver 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    a {
      background-color: $maincolor;
      border: 5px solid $maincolor;
      @include modelo_tipografia;
      color: $terciarycolor;

      &:hover {
        @include subrayado;
        color: $terciarycolor;
      }
    }
  }
}

@-webkit-keyframes rotate-in-ver {
  0% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }
}
@keyframes rotate-in-ver {
  0% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }
}
