.font_size{
    font-size: 20px;
}

.titulo_1{
    -webkit-animation:roll-in-right .6s ease-out both;
    animation:roll-in-right .6s ease-out both
}

.titulo_2{
    -webkit-animation:roll-in-left .6s ease-out both;
    animation:roll-in-left .6s ease-out both
}

.titulo_3{
    -webkit-animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both
}

