@mixin modelo_tipografia {
  text-decoration: none;
  font-size: 20px;
  color: $maincolor;
}


@mixin subrayado {
    background-color: $maincolor;
    color:$terciarycolor;
}

@mixin tamanos($ancho, $alto){
  width: $ancho;
  height: $alto;
}

// $grid-breakpoints: (
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
 
// );

// // Small devices (landscape phones, 576px and up)
// @media (max-width: 576px) {
//   .card{
//     @include media-breakpoint-down(sm) {
//       background-color: red($color: red);
//      }
//   }
//  }

// // Medium devices (tablets, less than 992px)
// @media (max-width: 768px) { }

// // Large devices (desktops, less than 1200px)
// @media (max-width: 768px){ }