@mixin modelo_tipografia {
  text-decoration: none;
  font-size: 20px;
  color: $maincolor;
}


@mixin subrayado {
    background-color: $maincolor;
    color:$terciarycolor;
}

@mixin tamanos($ancho, $alto){
  width: $ancho;
  height: $alto;
}



